<!-- views/partials/footer.ejs -->
<footer>
  <div class="container">
    <p>
      &copy; 2026 GamePilot &mdash; <em>Just PLAY it!</em>
      &nbsp;|&nbsp; ITE5315 Web Programming &amp; Framework 1
      &nbsp;|&nbsp; <a href="/api/status">API Status</a>
    </p>
  </div>
</footer>
